html{
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    position: relative;
    background-color: pink;
}
h1{
    border-bottom: 1px;
    border-bottom-color: green;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    color: blueviolet;
}
#lb1{
    text-align: center;
    vertical-align: middle;
    font-size: 25px;
    font-weight: bold;
    padding-left: 400px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: green;
}
#lb2{
    text-align: center;
    vertical-align: middle;
    font-size: 25px;
    font-weight: bold;
    padding-left: 463px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: green;
}
#lb3{
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    padding-left: 830px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#lb4{
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    padding-left: 830px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#lb5{
    text-align: center;
    vertical-align: middle;
    padding-left: 400px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#lb6{
    text-align: center;
    vertical-align: middle;
    padding-left: 400px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
