html{
    background-color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
}
h5{
    position: relative;
    text-align: right;
    padding-right: 1cm;
    color: rgb(black);
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h4{
    position: relative;
    text-align: left;
    padding-left: 1cm;
    color: rgb(black);
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3{
    text-align: left;
    position: relative;
    padding-left: 1cm;
    color: rgb(black);
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}