*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0 0;
}
/* !-- [Lập trình Front End - Nhóm 15] <22T1020362> - Nguyễn Thế Quang --> */
/* <!-- Bài thực hành 2 --> */
.header .logo{
    position: absolute;
    top: 15%;
    left: 26%;
}
.header .hotline{
    background-color: #49A333;
    font-family: sans-serif;
    position: absolute;
    top: 19%;
    left: 52%;
    color: white;
    font-size: 1.5rem;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.header .DangKy{
    position: absolute;
    top: 41%;
    left: 25%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 1.5rem;
    display:flex;
    flex-direction: column;
    background-color: #678B37;
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-top: 1%;
    padding-bottom: 1%;
    border: 5px solid #C5D301;

}
.header .DangKy .inp{
   display: flex;
   flex-direction: column;
}
input[type=text]{
   border-bottom: 1px solid white;
   border-left: none;
   border-right: none;
   border-top: 1px solid rgb(71, 70, 70);
   background-color: #678B37;
    padding-bottom:  2%;
    padding-top: 2%;
    margin-bottom: 3%;
    padding-right: 27%;
}
::placeholder{
    background-color: #678B37;
    margin-top: 1%;
   margin-bottom: 1%;
    color: white;
    text-align: left;
}
button[type=submit]{
    color: white;
    background-color: #C5D301;
    padding-bottom: 7%;
    padding-top: 7%;
    padding-left: 11%;
    padding-right: 11%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    text-align: center;
    vertical-align: middle;    
}
.main{
    position: relative;
    padding-top: 1%;
}
.main .no1{
    display: flex;
    flex-direction: row;
}
.main .no1 .img1{
    position: relative;
    padding-left: 13%;
    left: 12%;
    
}
.main .no1 .text1 .text1-1{
    color:#2A6E01;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 85%;
    padding-left: 5%;
    word-wrap: none;
}
.main .no1 .text1 .text1-2{
    color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 85%;
    text-align: justify;
    word-wrap: wrap;
    padding-top: 2%;
}
.main .no2{
    display: flex;
    flex-direction: row;
    padding-top: 3%;
}
.main .no2 .text2 .text2-1{
    color:#2A6E01;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 85%;
    padding-left: 21rem;
    word-wrap: none;
}
.main .no2 .text2 .text2-2{
    color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 85%;
    text-align: justify;
    word-wrap: wrap;
    padding-left: 20.5rem;
    padding-top: 2%;
}
.main .no2 .img2{
    position: relative;
    left: 1.5%;
}
.footer1{
    display: flex;
    flex-direction: row;
    background-color: #81AF53;
}
.footer1 .textx{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 0.85rem;
    padding-left: 25%;
}
.footer1 .imgx{
    position: relative;
    left: 2%;
    top: 15px;
}
.footer2{
    background-color: #DCE085;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}
.footer2 .textlast{
    color:#2A6E01;
    text-align: center;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    padding-left: 6%;
    padding-right: 5%;
    word-spacing: 1px;
}
.footer2 .but{
    display: flex;
    flex-direction: column;
}
.footer2 .but .in1{
    display: flex;
    flex-direction: row;
    padding-left: 25%;
    padding-top: 2%;
}
.footer2 .but .in1 .in1-1{
    color: black;
    background-color: white;
    border: 1px solid rgb(202, 195, 195);
    padding-right: 23.4%;
    margin-right:  3%;
    padding-left: 0.5%;
    padding-bottom: 0.5%;
    padding-top: 0.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.9rem;
}
.footer2 .but .in1 .in1-2{
    color: black;
    background-color: white;
    border: 1px solid rgb(202, 195, 195);
    padding-right: 23.4%;
    margin-right:  3%;
    padding-left: 0.5%;
    padding-bottom: 0.5%;
    padding-top: 0.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.9rem;
}
.footer2 .but .in2{
    display: flex;
    flex-direction: row;
    padding-left: 25%;
    padding-top: 0.5%;
}
.footer2 .but .in2 .in2-1{
    color: black;
    background-color: white;
    border: 1px solid rgb(202, 195, 195);
    padding-right: 28.6%;
    margin-right:  3%;
    padding-left: 0.5%;
    padding-bottom: 0.5%;
    padding-top: 0.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.9rem;
}
.footer2 .but .in2 .in2-2{
    color: white;
    background-color: #2A6E01;
    border: 1px solid rgb(202, 195, 195);
    padding-right: 11.4%;
    text-align: center;
    margin-right:  3%;
    padding-left: 11.7%;
    padding-bottom: 0.5%;
    padding-top: 0.5%;
    font-size: 0.9rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

