*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#main #content ul li a :hover {
    background-color: linear-gradient(blue, yellow);
}

.backgr {
    width: 100%;
    height: 300px;
    position: relative;
    border-bottom: 3px solid white;
}
#header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.tit {
    position: absolute;
    z-index: 1;
    top: 0;
    background-color: rgba(0, 0, 0, 0.432);
    width: 100vw;
    height: 35px;
    line-height: 35px;
    justify-self: center;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
.title {
    position: absolute;
    z-index: 1;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 5px black;
}
#avt {
    display: flex;
    justify-content: center;
}
.avt-main {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 200px;
    border-radius: 50%;
    border: 3px solid white;
}
#content {
    display: flex;
    background-color: black;
    height: 500px;
    margin-top: -10px;
    align-items: center;
    justify-content: center;
}
.fa-solid, .fa-brands {
    color: white;
    padding-right: 8px;
}
.list a {
    text-decoration: none;
    color: white;
}
.list li {
    margin-top: 24px;
    padding: 10px;
    width: 80vw;
    border-bottom: 3px solid white;
}